.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    padding: 0.5rem 1rem;
}
.navbar .listas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}